.App--header {
  background-color: rgb(255, 246, 246);
  height: 200px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App--data {
  margin: auto;
  padding: 1em;
  background-color: #eee;
  border: 1px solid #ccc;
}

.App--position {
  margin: auto;
  height: 100px;
  padding: 20px;
  background-color: rgb(197, 122, 122);
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: 20px solid rgb(0, 0, 0);
}

.App-form {
  text-align: center;
  font-size: 1.4em;
}
