video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
}

.ourpictures {
  opacity: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: 20px solid rgb(0, 0, 0);
  z-index: 2;
}

.hero-container {
  /*background: url("images/img-home.jpg") center center/cover no-repeat;
    height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000pc rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
